openapi: 3.1.0
info:
  title: Null Protocol Healthcare API
  version: "0.1.0"
  description: HIPAA-compliant healthcare data management API for consent tracking, medical records, and clinical trials
servers:
  - url: https://healthcare.null.xyz
    description: Production server
  - url: http://localhost:8787
    description: Local development server
paths:
  /healthz:
    get:
      summary: Health check
      description: Returns the health status of the healthcare API service
      tags:
        - Health
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
  /consent/grant:
    post:
      summary: Grant patient consent
      description: Records patient consent for data sharing with HIPAA compliance
      tags:
        - Consent Management
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [patientId, purpose, dataTypes]
              properties:
                patientId:
                  type: string
                  description: Patient identifier (will be hashed for privacy)
                  example: "patient-123"
                purpose:
                  type: string
                  enum: [treatment, research, billing, quality_assurance]
                  description: Purpose for data sharing
                  example: "treatment"
                dataTypes:
                  type: array
                  items:
                    type: string
                  description: Types of data to be shared
                  example: ["medical_records", "lab_results", "imaging"]
                expirationDate:
                  type: string
                  format: date
                  description: Optional expiration date for consent
                  example: "2024-12-31"
                evidence:
                  type: object
                  additionalProperties: true
                  description: Additional evidence data (signatures, forms, etc.)
                  example: {"patientSignature": "digital-signature", "consentFormVersion": "1.0"}
      responses:
        "200":
          description: Consent successfully granted and anchored
          content:
            application/json:
              schema:
                type: object
                properties:
                  patientCommit:
                    type: string
                    description: Cryptographic commitment to patient identifier
                    example: "0x1234..."
                  consentCommit:
                    type: string
                    description: Cryptographic commitment to consent data
                    example: "0x5678..."
                  canonTx:
                    type: string
                    description: CanonHealth transaction hash
                    example: "0xabcd..."
                  evidenceUri:
                    type: string
                    description: IPFS URI to consent evidence
                    example: "ipfs://QmX..."
        "400":
          description: Bad request
        "401":
          description: Unauthorized - invalid API key
        "500":
          description: Internal server error
  /consent/revoke:
    post:
      summary: Revoke patient consent
      description: Revokes previously granted patient consent
      tags:
        - Consent Management
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [patientId, purpose]
              properties:
                patientId:
                  type: string
                  description: Patient identifier
                  example: "patient-123"
                purpose:
                  type: string
                  enum: [treatment, research, billing, quality_assurance]
                  description: Purpose for which consent is being revoked
                  example: "research"
                reason:
                  type: string
                  description: Reason for revocation
                  example: "Patient requested withdrawal"
                evidence:
                  type: object
                  additionalProperties: true
                  description: Additional evidence data
                  example: {"revocationReason": "Patient requested", "patientSignature": "digital-signature"}
      responses:
        "200":
          description: Consent successfully revoked and anchored
          content:
            application/json:
              schema:
                type: object
                properties:
                  patientCommit:
                    type: string
                    description: Cryptographic commitment to patient identifier
                    example: "0x1234..."
                  consentCommit:
                    type: string
                    description: Cryptographic commitment to revocation data
                    example: "0x5678..."
                  canonTx:
                    type: string
                    description: CanonHealth transaction hash
                    example: "0xabcd..."
                  evidenceUri:
                    type: string
                    description: IPFS URI to revocation evidence
                    example: "ipfs://QmX..."
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
  /consent/status/{patientId}:
    get:
      summary: Check consent status
      description: Check current consent status for a patient
      tags:
        - Consent Management
      parameters:
        - name: patientId
          in: path
          required: true
          schema:
            type: string
          description: Patient identifier
          example: "patient-123"
      responses:
        "200":
          description: Consent status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  patientId:
                    type: string
                    description: Patient identifier
                    example: "patient-123"
                  hasConsent:
                    type: boolean
                    description: Whether patient has granted consent
                    example: true
                  checkedAt:
                    type: string
                    format: date-time
                    description: When consent status was checked
                    example: "2024-01-15T10:30:00Z"
        "400":
          description: Bad request
        "404":
          description: Patient not found
        "500":
          description: Internal server error
  /records/anchor:
    post:
      summary: Anchor medical record
      description: Anchor a medical record to the blockchain for integrity verification
      tags:
        - Medical Records
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [patientId, recordType, recordHash, providerId, assurance]
              properties:
                patientId:
                  type: string
                  description: Patient identifier
                  example: "patient-123"
                recordType:
                  type: string
                  enum: [diagnosis, treatment, medication, lab_result, imaging]
                  description: Type of medical record
                  example: "diagnosis"
                recordHash:
                  type: string
                  description: Hash of the medical record content
                  example: "0xabc123..."
                providerId:
                  type: string
                  description: Healthcare provider identifier
                  example: "provider-456"
                assurance:
                  type: integer
                  minimum: 0
                  maximum: 4
                  description: Assurance level (0=none, 1=basic, 2=verified, 3=attested, 4=certified)
                  example: 2
                evidence:
                  type: object
                  additionalProperties: true
                  description: Additional evidence data
                  example: {"diagnosis": "Hypertension", "icd10Code": "I10", "providerSignature": "signature"}
      responses:
        "200":
          description: Medical record successfully anchored
          content:
            application/json:
              schema:
                type: object
                properties:
                  patientCommit:
                    type: string
                    description: Cryptographic commitment to patient identifier
                    example: "0x1234..."
                  recordCommit:
                    type: string
                    description: Cryptographic commitment to medical record
                    example: "0x5678..."
                  canonTx:
                    type: string
                    description: CanonHealth transaction hash
                    example: "0xabcd..."
                  evidenceUri:
                    type: string
                    description: IPFS URI to record evidence
                    example: "ipfs://QmX..."
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
  /access/log:
    post:
      summary: Log data access
      description: Log access to patient data for audit purposes
      tags:
        - Audit & Compliance
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [patientId, recordHash, accessorId, purpose]
              properties:
                patientId:
                  type: string
                  description: Patient identifier
                  example: "patient-123"
                recordHash:
                  type: string
                  description: Hash of the accessed record
                  example: "0xabc123..."
                accessorId:
                  type: string
                  description: Identifier of the person accessing the data
                  example: "provider-456"
                purpose:
                  type: string
                  description: Purpose for accessing the data
                  example: "Patient consultation"
                evidence:
                  type: object
                  additionalProperties: true
                  description: Additional evidence data
                  example: {"accessReason": "Patient consultation", "accessorRole": "physician"}
      responses:
        "200":
          description: Data access successfully logged
          content:
            application/json:
              schema:
                type: object
                properties:
                  patientCommit:
                    type: string
                    description: Cryptographic commitment to patient identifier
                    example: "0x1234..."
                  recordCommit:
                    type: string
                    description: Cryptographic commitment to accessed record
                    example: "0x5678..."
                  canonTx:
                    type: string
                    description: CanonHealth transaction hash
                    example: "0xabcd..."
                  evidenceUri:
                    type: string
                    description: IPFS URI to access log evidence
                    example: "ipfs://QmX..."
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
  /audit/log:
    get:
      summary: Get audit log
      description: Retrieve audit log for compliance and monitoring
      tags:
        - Audit & Compliance
      security: [{ ApiKeyAuth: [] }]
      responses:
        "200":
          description: Audit log retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  auditLog:
                    type: array
                    items:
                      type: object
                      properties:
                        action:
                          type: string
                          example: "consent_granted"
                        patientId:
                          type: string
                          example: "patient-123"
                        purpose:
                          type: string
                          example: "treatment"
                        canonTx:
                          type: string
                          example: "0xabcd..."
                        timestamp:
                          type: string
                          format: date-time
                          example: "2024-01-15T10:30:00Z"
                        ip:
                          type: string
                          example: "192.168.1.1"
                        userAgent:
                          type: string
                          example: "Mozilla/5.0..."
                  totalEvents:
                    type: integer
                    description: Total number of audit events
                    example: 150
        "401":
          description: Unauthorized
        "500":
          description: Internal server error
  /stats:
    get:
      summary: Get healthcare statistics
      description: Retrieve healthcare system statistics from CanonHealth
      tags:
        - Statistics
      responses:
        "200":
          description: Statistics retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: integer
                    description: Total number of healthcare events
                    example: 1250
                  consents:
                    type: integer
                    description: Total number of consents granted
                    example: 850
                  breaches:
                    type: integer
                    description: Total number of breach reports
                    example: 3
        "500":
          description: Internal server error
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for healthcare provider authentication
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
      required:
        - error
    ConsentPurpose:
      type: string
      enum: [treatment, research, billing, quality_assurance]
      description: Purpose for data sharing consent
    RecordType:
      type: string
      enum: [diagnosis, treatment, medication, lab_result, imaging]
      description: Type of medical record
    AssuranceLevel:
      type: integer
      minimum: 0
      maximum: 4
      description: Assurance level for healthcare data
      enum: [0, 1, 2, 3, 4]
      x-enum-varnames: [NONE, BASIC, VERIFIED, ATTESTED, CERTIFIED]
