RPC_URL=https://mainnet.infura.io/v3/xxx
CANON_ADDRESS=0xCanonRegistryAddress
CANON_TOPIC_TICKETS=4
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=null_indexer
PGUSER=null_user
PGPASSWORD=change-me
START_BLOCK=0
CONFIRMATIONS=5
