PORT=8787
VENUE_HMAC_KEY=change-me-super-secret
RPC_URL=https://mainnet.infura.io/v3/xxx
CANON_ADDRESS=0xCanonRegistryAddress
FOUNDATION_ADDRESS=0xFoundation
RELAYER_PK=0xabcdef...
FEE_WEI_ISSUE=0
FEE_WEI_TRANSFER=0
FEE_WEI_REVOKE=0
